<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>FitGeneration</title> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body>
<!-- navbar -->
<nav>
  <div class="nav-wrapper blue-grey lightnen-1">
    <a href="#" class="brand-logo logoname">Era</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="prog-links" href="/users/<%= user.id %>">Home</a></li>
      <li><a href="/users">Search</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a class="navlinks" href="/logout">Signout</a></li>
    </ul>
  </div>
</nav>
<!-- photo show content -->
<div class="photo-background">
  <!-- Users gallery of progress photos -->
  <div class="user-container center-align">
    <div class="user-feed">
      <img class="activator" style="width:400px; height: 400px" src="<%= photo.image %>"> 
      <div class="caption-box">
        <h6><%= photo.caption %></h6>
      </div>
      <button class="edit-button"><a class="user-button" href="/photos/<%= photo._id %>/edit">Edit Photo</a></button>
    </div>
  </div>
</div>

<<<<<<< HEAD
<!-- comment textarea  -->
<div class="comment-container">
  <textarea class='comment-box'></textarea> 
</div>
  <button type="submit" class="add-button" value="submit">add commment</button> 


=======
<!-- comment form  -->
<div class="add-comment"> 
  <form method="post" action="/create"> 
   
    <span class='comment-text'>Comment</span>
    <textarea type="text" name="comment"></textarea>  <input class="edit-button" type="submit" value="Save"> 
  </form>
</div>

<div class="photo-comments"> 
  <!-- photo comment content -->
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="/images/katy-avatar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            This is a square image. Add the "circle" class to it to make it appear circular.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> 220836aac04be374d4c9747a7cca53693ec7ea29
<!-- footer content -->
<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">FitGeneration</h5>
        <p class="grey-text text-lighten-4">Improve all aspects in your life.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Era © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</body>
</html>