<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FitGeneration</title>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
</head>
<body>
<!-- navigation bar for landing page -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo logoname">FitGeneration</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="auth/register">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</nav>

<!-- page banner -->
<section class="introduction"> 
  <div id="content"></div>
    <h1>Era</h1> 
    <h3>This your time to start your fitness journey</h3>   
</section>

<!-- landing page content -->
<section class="cases">
  <div class="content">
    <h2 class="intro-text">start today</h2>
    <ul class="devices">
      <li><img width="380px" height="310px" src="/images/girlslift.jpg">
        <div class="caption">
          <h3>Connect with the community</h3>
        </div>
      </li>
  
      <li><img width="380px" height="310px" src="/images/abcity.jpg">
        <div class="caption">
          <h3>Track your results</h3>
        </div>
      </li>

      <li><img width="380px" height="310px" src="/images/aesthetic.jpg">
        <div class="caption">
          <h3>Be the motivation</h3>
        </div>
      </li>
    </ul>
  </div>
</section>


<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">FitGeneration</h5>
        <p class="grey-text text-lighten-4">Improve all aspects in your life</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Era © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

</body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</html>