img{
  margin-top: 10px;
  width: 400px;
  height:300px;
}

.meal-container {
  margin-bottom: 230px;
  margin-top: 100px;
  width: 800px;
  margin-left: 330px;
}

.photo-content {
  margin-bottom: 100px;
  width: 500px;
  margin-left: 500px;
}

.action-button {
  background-color: #00AA99;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
}

.meal-form {
  margin-bottom: 200px;
  margin-top: 80px;
}