<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Era</title> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
</head> 
<body> 
<!-- navbar content -->
<nav>
  <div class="nav-wrapper blue-grey lightnen-1">
    <a href="#" class="brand-logo logoname">Era</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/login">Login</a></li>
      <li><a class="prog-links" href="/users/<%= user.id %>">Home</a></li>
      <li><a class="navlinks" href="/logout">Signout</a></li>
    </ul>
  </div>
</nav> <!--  end of navbar -->

<!-- meal logger -->
<div class="row">
  <div class="col s12"> 
    <form action="/meals" method="post">
      <!-- meal logger -->
      <input type="text" placeholder="meal name" name="meal_name"/>
      <input type="text" placeholder="meal calories" name="meal_cals"/> 
      <input type="text" name="meal_protein" placeholder="meal protein"/>
      <!-- drink logger -->
      <input type="text" placeholder="drink name" name="drink_name" class="file" type="text"/>
      <input type="text" placeholder="drink calories" name="drink_cals"/>
      <input type="text" placeholder="drink protein" name="drink_protein"/>
      <!-- snack logger -->
      <input type="text" name="snack_name" placeholder="snack name"/>
      <input type="text" name="snack_cals" placeholder="snack calorires"/>
      <input type="text" name="snack_protein" placeholder="snack protein"> 
      
      <button type="submit" name="submit" class="action-button" value="submit">Submit</button>
    </form> <!-- end of form for meal logger -->
  </div>
</div>
 


</body>
</html>