<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>fitGeneration</title> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
  <!-- script tags -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 
<!-- navbar -->
<nav>
  <div class="nav-wrapper blue-grey lightnen-1">
    <a href="#" class="brand-logo logoname">Era</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="prog-links" href="/users/<%= user.id %>">Home</a></li>
      <li><a href="/users">Search</a></li>
      <li><a href="/photos">Photos</a></li>
      <li><a href="/home">Chat</a></li>
      <li><a class="navlinks" href="/logout">Signout</a></li>
    </ul>
  </div>
</nav> 

<div class="edit-container">
  <h3 class="center-align">Edit Profile</h3>
  <!-- edit user form -->
  <div id="login">
    <form action="/users/<%= user._id %>?_method=PUT" method="post">
      <input type="text" placeholder="email" name="email" />
      <br/>
      <input type="text" placeholder="profile url"  name="avatar"/>
      <br/>
      <input type="text" placeholder="username" name="username"/>
      <br/>
      <input type="text" placeholder="height" name="height"/>
      <input type="text" placeholder="weight" name="weight"/>
      <label class="grey lighten-2"></label>
      <select name="status" class="browser-default status-option ">
        <option name="status" value="status" disabled selected>select fitness status</option>
        <option name='status'value="bulking">bulking</option>
        <option name="status" value="maintaing">maintaing</option>
        <option name="status" value="toning">toning</option>
        <option name="status" value="muscle gaining">muscle gaining</option>
        <option name="status" value="shredding">shredding</option>
      </select>
      <br/>
      <input type="text" placeholder="password" name="password"/>
      <div class="center-align">
        <input class="reg" type="submit" value="submit"/ >
      </div>
    </form>
  </div>
</div>

<div class="clear-fix"></div>
<!-- footer content -->
<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">FitGeneration</h5>
        <p class="grey-text text-lighten-4">Improve all aspects in your life.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Era © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

</body>
</html>

